html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;

}


.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.header {
  min-height: 100vh;
  position: relative;
  

}



.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 40px;
  font-weight: 700;
}

.menu__btn {
  padding: 10.5px 53px;
  border-radius: 30px;
  background-color: #000;
  text-transform: uppercase;
  color: #fff;

}

.header__content-images {
  text-align: center;
  padding-bottom: 50px;
}

.header__content-images::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, #C3D5E6 0%, rgba(255, 255, 255, 0.00) 100%);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: -2;
}

.content-item {
  display: none;
}

.content-item--active {
  display: inline-block;
}

.title {
  position: absolute;
  font-size: 210px;
  font-weight: 700;
  padding-top: 110px;
  line-height: 120%;
}


.title--pod {
  display: inline-block;
  position: relative; 
  z-index: -1; 
}

.title--s {
  display: inline-block;
  transform: translateY(40px);
}

.title--m {
  display: inline-block;
  transform: translate(-169px, 275px);
}

/* .title--ax {
  display: inline-block;
  position: relative;
  transform: translate(-128px, 215px);
  z-index: -1;

} */

.choose-color {
  padding: 45px 0 180px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.main__title {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  line-height: 120%;
}

.choose-color__title {
  max-width: 555px;
  margin: 0 auto;
  line-height: 120%;
  margin-bottom: 20px;
}

.choose-color__descr {
  max-width: 555px;
  margin: 0 auto;
  margin-bottom: 80px;
  line-height: 120%;
  font-size: 16px;

}

.choose-color__list {
  display: flex;
  gap: 40px;
  justify-content: center;
  
}

.choose-color__btn {
  border-radius: 20px;
  border: 1px solid #777;
  padding: 50px 55px;
}

.choose-color__btn--active {
  display: none;
}


/* ------------- */

.compos__title {
  margin-bottom: 20px;
}

.compos__subtitle {
  text-align: center;
  max-width: 655px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.compos__inner {
  display: flex;
  justify-content: center;
  margin-bottom: 180px;
}

.compos__text {
  max-width: 230px;
  margin-right: 150px;
}

.compos__descr {
}

.compos__descr:not(:last-child) {
  margin-bottom: 80px;
}

/* ----- */

.case {
  padding: 80px 0 98px;
  background-color: #fafafa;
  text-align: center;
}

.case__title {
  margin-bottom: 20px;
}

.case__descr {
  max-width: 825px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.case img {

}

.energy__title {
  padding-top: 160px;
  margin-bottom: 40px;
}

.energy__num {
  display: inline-block;
  line-height: 120%;
  font-size: 210px;
  font-weight: 700;
  margin-bottom: 40px;
}

.energy__text {
  max-width: 400px;
  margin: 0 auto;
}

/* -------------- */



.audio {
  position: relative;
}

.audio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/sound-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -2;
}

.audio::after {
  content: "";
  position: absolute;
  background-image: url('../images/sound.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  width: 100%;
  height: 150vh;
  left: 0;
  right: 0;
  bottom: -250px;
}

.audio__inner {
    min-height: 200vh;
    padding-bottom: 30vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #fff;
 }


.audio__box {
  position: relative;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.audio__text:not(:last-child) {
  margin-bottom: 20px;
}

.audio__btn {
  padding: 15px 35px;
  max-width: 165px;
  width: 100%;
  min-height: 50px;
  background-color: #fff;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 25px;
  cursor: pointer;
}

/* ------ */
.footer {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  color: #fff;
  position: relative;
  z-index: -2;
  padding: 300px 0 40px;
  text-align: center;
  background-color: #000;
}

.footer__link-near {
  display: inline-block;
  margin-bottom: 20px;
}
.footer__text {
  margin-bottom: 20px;
}

.footer__link {
  
}

.logo--white {
  display: block;
  width: 25px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.footer__row {
  display: flex;
  justify-content: center;
}

.footer__item {
  font-weight: 700;
}
.footer__item:not(:last-child){
  margin-right: 20px;
}



@media (max-width: 1210px) {
  .header__content-title {
    position: static;
    font-size: 100px;
    text-align: center;
  }
  .title--ax {
  transform: none;
  }

  .title--s {
  transform: none;
  }

  .title--m {
    transform: none;
  }

  .header__content-images img {
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .choose-color__list {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
  }
  
}

@media (max-width: 768px) {
  .main__title {
    font-size: 48px;
  }

  .compos__inner {
    margin-bottom: 80px;
    flex-direction: column;
    text-align: center;
  }

  .compos__inner img {
    object-fit: contain;
    height: 600px;
  }

  .compos__text {
    margin-right: 0;
    max-width: 100%;
  }

  .case {
    padding: 50px 0 50px;
  }

  .case img {
    max-width: 100%;
  }

  .energy__title {
    padding-top: 50px;
  }

  .compos__descr:not(:last-child) {
    margin-bottom: 20px;
  }

  .compos__descr:last-child {
    margin-bottom: 20px;
  }

  .header__content-title {
    font-size: 58px;
  }




  .footer__row {
    flex-wrap: wrap;
  }
}

@media (max-width: 560px) {
  .main__title {
    font-size: 32px;
  }

  .energy__num {
    font-size: 130px;
  }

  .header__content-title {
    font-size: 50px;
  }

  .header__top {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    align-self: center;
    margin-bottom: 25px;
  }

  .menu__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .title {
    padding-top: 25px;
  }

  .header__top {
    padding: 30px 0;
  }
}



